# Segmenting & Clustering Pt 2

In [101]:
import pandas as pd
import numpy as np

link = "http://cocl.us/Geospatial_data"
df = pd.read_csv(link)
df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [102]:
df.shape

(103, 3)

In [103]:
df.columns = ['Postcode','Latitude','Longitude']
df.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

In [104]:
url = 'https://raw.githubusercontent.com/Jimmysimo/Coursera_Capstone/main/SegmentingPt1.csv'
df2 = pd.read_csv(url)
df2.head()

,Unnamed: 0,Postcode,Borough,Neighbourhood
0,0,,Canadian postal codes,","
1,1,M1B,Scarborough,"Malvern, Rouge ,Malvern, Rouge"
2,2,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek ,Rouge ..."
3,3,M1E,Scarborough,"Guildwood, Morningside, West Hill ,Guildwood, ..."
4,4,M1G,Scarborough,"Woburn ,Woburn"

In [105]:
df2.drop(['Unnamed: 0'],1, inplace = True)
df2.head()

,Postcode,Borough,Neighbourhood
0,,Canadian postal codes,","
1,M1B,Scarborough,"Malvern, Rouge ,Malvern, Rouge"
2,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek ,Rouge ..."
3,M1E,Scarborough,"Guildwood, Morningside, West Hill ,Guildwood, ..."
4,M1G,Scarborough,"Woburn ,Woburn"

In [106]:
df3 = df.astype({'Postcode': 'object','Latitude': 'object', 'Longitude': 'object'})

In [113]:
df3['Postcode'] = df3['Postcode'].str.strip()
df2['Postcode'] = df2['Postcode'].str.strip()

In [117]:
df4 = pd.merge(df2,df3,how='inner',on='Postcode')
df4.head(10)

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge ,Malvern, Rouge",43.8067,-79.1944
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek ,Rouge ...",43.7845,-79.1605
2,M1E,Scarborough,"Guildwood, Morningside, West Hill ,Guildwood, ...",43.7636,-79.1887
3,M1G,Scarborough,"Woburn ,Woburn",43.771,-79.2169
4,M1H,Scarborough,"Cedarbrae ,Cedarbrae",43.7731,-79.2395
5,M1J,Scarborough,"Scarborough Village ,Scarborough Village",43.7447,-79.2395
6,M1K,Scarborough,"Kennedy Park, Ionview, East Birchmount Park ,K...",43.7279,-79.262
7,M1L,Scarborough,"Golden Mile, Clairlea, Oakridge ,Golden Mile, ...",43.7111,-79.2846
8,M1M,Scarborough,"Cliffside, Cliffcrest, Scarborough Village Wes...",43.7163,-79.2395
9,M1N,Scarborough,"Birch Cliff, Cliffside West ,Birch Cliff, Clif...",43.6927,-79.2648

In [119]:
df4.to_csv('Segmenting2.csv')