# Segmenting & Clustering Pt 2

In [38]:
import pandas as pd
import numpy as np

link = "http://cocl.us/Geospatial_data"
df = pd.read_csv(link)
df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [39]:
df.shape

(103, 3)

In [46]:
df.columns = ['Postcode','Latitude','Longitude']
df.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

In [49]:
df['Postcode'].astype(str)

0      M1B
1      M1C
2      M1E
3      M1G
4      M1H
      ...
98     M9N
99     M9P
100    M9R
101    M9V
102    M9W
Name: Postcode, Length: 103, dtype: object

In [50]:
url = 'https://raw.githubusercontent.com/Jimmysimo/Coursera_Capstone/main/SegmentingPt1.csv'
df2 = pd.read_csv(url)
df2.head()

,Unnamed: 0,Postcode,Borough,Neighbourhood
0,0,,Canadian postal codes,","
1,1,M1B,Scarborough,"Malvern, Rouge ,Malvern, Rouge"
2,2,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek ,Rouge ..."
3,3,M1E,Scarborough,"Guildwood, Morningside, West Hill ,Guildwood, ..."
4,4,M1G,Scarborough,"Woburn ,Woburn"

In [54]:
df2.drop(['Unnamed: 0'],1, inplace = True)
df2['Postcode'].astype(str)

KeyError: "['Unnamed: 0'] not found in axis"

In [57]:
df2.dtypes
df.dtypes

Postcode      object
Latitude     float64
Longitude    float64
dtype: object

In [65]:
data_frames = [df2,df]
df3 = pd.concat(data_frames, axis=1, join='inner')
df3.head()

,Postcode,Borough,Neighbourhood,Postcode,Latitude,Longitude
0,,Canadian postal codes,",",M1B,43.806686,-79.194353
1,M1B,Scarborough,"Malvern, Rouge ,Malvern, Rouge",M1C,43.784535,-79.160497
2,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek ,Rouge ...",M1E,43.763573,-79.188711
3,M1E,Scarborough,"Guildwood, Morningside, West Hill ,Guildwood, ...",M1G,43.770992,-79.216917
4,M1G,Scarborough,"Woburn ,Woburn",M1H,43.773136,-79.239476

In [66]:
df3.to_csv('Segmenting2.csv')